.imc-layout--header {
    text-align:center; 
    padding: 20px 0;
}

.category1 nav{
    background-color: blue;
    text-align: center;
    padding: 8px 0;
    
}

.category1 nav ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.category1 nav ul li{
    display: inline;
}
.category1 nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 0 10px;
}

i{
    margin-right:  5px;
}

.category2 nav{
    text-align:center;
}

.category2 nav ul li {
    display:inline;
    
}

.category2 nav ul li a{
    font-size: 9px;
    color:#2b374e;
    
}

.maincontent{
    width:1060px;
    margin:0 auto;
}

article{
    border:solid;
    width: 790px;
    padding:20px;
}

.sky{
    margin:15px;
    border: solid blue; 
}

.date{
    text-align: right;
    margin-top: 16px;
    margin-right:15px;
    font-size: 12px;
}

.toc{
    border: #d1d1d1 1px solid;
    margin:15px;
}
.toc-title{
    padding-left: 20px;
    font-weight:bold;
    padding-top: 15px;
}

.text1{
    margin: 30px 44px 20px 44px;
    font-size: 16px;
    line-height: 2;
}

.box-content{
    border: #d1d1d1 1px solid;
    border-radius: 2px;
    margin: 30px 44px 20px 44px;
}

.headline1{
    margin: 30px 44px 20px 44px;
    padding: 16px 0;
    border-top: 2px solid #195ca5;
    border-bottom: 2px solid #195ca5;
    font-size: 25px;
    line-height: 1.5;
}

footer{
    background: #2b374e;
    margin-top: 40px;
}

.footer-list{
    margin: 0 auto;
    width: 1060px;
    
}

.footer-logo{
    
}

.footer-menu{
    
}

dl{
    display: inline-block;
}

dl dt{
   color: white; 
}

dl dd a{
    font-size: 11px;
    color: white;
}

dl ul{
    list-style: none;
}

dl ul li{
    margin-top: 12px;
}

.footer-menu-title-title-hidden{
    visibility: hidden;
}

.layout-side{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
}

.category-matome{
    margin-bottom: 120px;
    width: 250px;
}

.sidelink-title{
    font-size: 16px;
    font-weight: bold;
    color:black;
    border-bottom:4px solid #195ba5;;
}

aside ul li a{
    color:#0089fc;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    
    
}

aside ul li{
    border-bottom:#d1d1d1 1px solid;
    text-align:left;
    padding-bottom:10px;
}
























